#Archivo gitgnore - Proyectos Java


# Ignorar archivos creados por Eclipse
**.metadata/
**/*.classpath
**/*.settings/
**/*.project

#Ignorar archivos compilados
**/bin/
**/build/
**/*.jar
**/*.class

#Ignorar archivos del sistema
.DS_Store
Thumbs.db

